image:
  repository: ghcr.io/chia-network/offer-codes
  tag: "{{ DOCKER_TAG }}"

imagePullSecrets:
  - name: offer-codes-image-pull

deployment:
  containerPort: 3000

secretFiles:
  - mountPath: "/app"
    filename: .env
    content: |
      MNEMONIC={{ MNEMONIC }}
      PUBLIC_KEY={{ MASTER_PUBLIC_KEY }}
      PORT=3000
      DATABASE_URL="mysql://{{ MYSQL_USER }}:{{ MYSQL_PASSWORD }}@{{ MYSQL_HOST }}:3306/{{ MYSQL_DATABASE }}"
      BASE_URL="http://localhost:3000"

ingress:
  enabled: true
  tlsEnabled: true
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cf
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
    ingress.kubernetes.io/ssl-redirect: "true"
    ingress.kubernetes.io/whitelist-source-range: 10.0.0.0/8,100.64.0.0/10
    nginx.ingress.kubernetes.io/whitelist-source-range: 10.0.0.0/8,100.64.0.0/10
  hosts:
    - host: "offercodes.chia.net"
      paths:
        - path: /
          pathType: Prefix
  className: nginx-internal

networkPolicy:
  enabled: true
  policyTypes:
    - Egress
  egressRules:
    - to:
        - ipBlock:
            cidr: "{{ MYSQL_HOST }}/32"
      ports:
        - protocol: TCP
          port: 3306
