name: Build & Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: '20 0 * * 0'

permissions:
  id-token: write
  contents: read
  packages: write

jobs:
  package:
    uses: Chia-Network/actions/.github/workflows/docker-build.yaml@main
    with:
      docker-platforms: 'linux/amd64'

  deploy:
    name: Deploy
    needs:
      - package
    runs-on: [k8s-public-msp]
    container:
      image: registry.gitlab.com/cmmarslender/kubectl-helm:v3
    steps:
      - uses: actions/checkout@v6

      - name: Vault Login
        uses: Chia-Network/actions/vault/login@main
        with:
          vault_url: ${{ secrets.VAULT_URL }}
          role_name: github-offer-codes

      - name: Get secrets from vault
        uses: hashicorp/vault-action@v3
        with:
          url: ${{ secrets.VAULT_URL }}
          token: ${{ env.VAULT_TOKEN }}
          secrets: |
            secret/data/msp/mysql/db-info host | MYSQL_HOST;
            secret/data/msp/mysql/users/offer-codes username | MYSQL_USER;
            secret/data/msp/mysql/users/offer-codes password | MYSQL_PASSWORD;
            secret/data/offer-codes database | MYSQL_DATABASE;
            secret/data/offer-codes mnemonic | MNEMONIC;
            secret/data/offer-codes master_public_key | MASTER_PUBLIC_KEY;
            secret/data/github/ghcr_image_pull username | IMAGE_PULL_USERNAME;
            secret/data/github/ghcr_image_pull password | IMAGE_PULL_PASSWORD;
            secret/data/msp/k8s/k8s-msp api_server_url | K8S_API_SERVER_URL;

      - name: Login to k8s cluster
        uses: Chia-Network/actions/vault/k8s-login@main
        with:
          vault_url: ${{ secrets.VAULT_URL }}
          vault_token: ${{ env.VAULT_TOKEN }}
          backend_name: k8s-msp
          role_name: github-actions
          cluster_url: ${{ env.K8S_API_SERVER_URL }}

      - uses: Chia-Network/actions/k8s/image-pull-secret@main
        with:
          secret_name: offer-codes-image-pull
          namespace: offer-codes
          username: ${{ env.IMAGE_PULL_USERNAME }}
          password: ${{ env.IMAGE_PULL_PASSWORD }}
          docker_server: "ghcr.io"

      - uses: Chia-Network/actions/helm/deploy@main
        env:
          DOCKER_TAG: "sha-${{ github.sha }}"
        with:
          namespace: "offer-codes"
          app_name: "offer-codes"
          helm_chart_repo: "https://chia-network.github.io/helm-charts"
          helm_chart: "generic"
          helm_values: "./k8s/values.yaml"
